/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  display: inline-block;
  box-shadow: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: hsl(268, 70%, 9%);
  color: hsl(50, 96%, 55%);
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}
@media screen and (max-width: 300px) {
  .container {
    margin-inline: 1rem;
  }
}
@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }
}

.main {
  overflow: hidden; /* For animation */
}

#stars > i {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px #d5cb46, 0 0 10px #d5cb46, 0 0 15px #d5cb46;
  animation: animate linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-color: hsl(268, 70%, 9%);
  z-index: 100;
}

.nav {
  position: relative;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1023px) {
  .nav {
    height: 5.5rem;
  }
}

.nav__logo,
.nav__toggle,
.nav__close {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__logo {
  color: hsl(50, 96%, 55%);
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  font-weight: 600;
}
.nav__logo i {
  font-size: 1.25rem;
  font-weight: initial;
}
@media screen and (min-width: 1152px) {
  .nav__logo i {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1152px) {
  .nav__logo {
    font-size: 1.5rem;
  }
}

.nav__toggle,
.nav__close {
  width: 2rem;
  height: 2rem;
  background-color: hsl(268, 28%, 38%);
  border-radius: 50%;
  font-size: 1.25rem;
  cursor: pointer;
}
@media screen and (min-width: 1023px) {
  .nav__toggle,
  .nav__close {
    display: none;
  }
}

.nav__menu {
  display: flex;
}
@media screen and (min-width: 576px) {
  .nav__menu {
    width: 60%;
  }
}
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    flex-direction: column;
    row-gap: 2.5rem;
    background-color: hsl(268, 58%, 48%);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem;
    box-shadow: 0 0 16px hsla(268, 58%, 4%, 0.2);
    transition: right 0.4s;
  }
}
@media screen and (min-width: 1023px) {
  .nav__menu {
    width: 100%;
    align-items: center;
    -moz-column-gap: 4.5rem;
         column-gap: 4.5rem;
  }
}

.nav__list {
  display: flex;
}
@media screen and (max-width: 1023px) {
  .nav__list {
    flex-direction: column;
    row-gap: 2.5rem;
  }
}
@media screen and (min-width: 1023px) {
  .nav__list {
    margin-left: auto;
    flex-direction: row;
    -moz-column-gap: 4.5rem;
         column-gap: 4.5rem;
  }
}

.nav__link {
  color: hsl(50, 96%, 55%);
  font-weight: 600;
  transition: color 0.4s;
}
.nav__link:hover {
  color: hsl(0, 0%, 100%);
}

.nav__button {
  display: inline-block;
  width: -moz-max-content;
  width: max-content;
  padding: 1rem 3rem;
  background-color: hsl(268, 58%, 48%);
  border: 2px solid hsl(50, 96%, 55%);
  border-radius: 4rem;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}

.nav__close {
  position: absolute;
  top: 0.75rem;
  right: 1.5rem;
}

.show-menu {
  right: 0;
}

.home {
  position: relative;
  height: 100vh;
}
@media screen and (min-width: 768px) {
  .home {
    display: grid;
    place-content: center;
  }
}

.home__container {
  padding-top: 7rem;
  display: grid;
  row-gap: 3rem;
}
@media screen and (min-width: 376px) and (min-height: 800px) {
  .home__container {
    padding-top: 10rem;
  }
}
@media screen and (min-width: 576px) {
  .home__container {
    grid-template-columns: 400px;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .home__container {
    grid-template-columns: repeat(2, 350px);
    padding-top: 0;
  }
}
@media screen and (min-width: 1152px) {
  .home__container {
    grid-template-columns: 460px 650px;
    align-items: center;
    z-index: 5;
  }
}

.home__content {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .home__content {
    text-align: initial;
  }
}

.home__subtitle {
  font-size: 0.813rem;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}
@media screen and (min-width: 1152px) {
  .home__subtitle {
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
  }
}

.home__title {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto 0.75rem;
  color: hsl(0, 0%, 100%);
}
.home__title img {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (min-width: 1152px) {
  .home__title img {
    width: 250px;
    right: -0.75rem;
  }
}
.home__title span {
  position: relative;
  z-index: 5;
}
@media screen and (max-width: 300px) {
  .home__title {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 768px) {
  .home__title {
    margin-inline: 0;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1152px) {
  .home__title {
    letter-spacing: -3px;
    margin-bottom: 1rem;
    font-size: 4rem;
  }
}

.home__description {
  line-height: 150%;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 1152px) {
  .home__description {
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }
}

.home__button {
  display: inline-block;
  background: linear-gradient(180deg, hsl(335, 88%, 56%), hsl(328, 78%, 38%));
  padding: 1.125rem 3rem;
  border-radius: 4rem;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  box-shadow: 0 8px 32px hsla(268, 58%, 4%, 0.3), inset 0 4px 8px hsla(0, 0%, 100%, 0.4);
}

.home__images {
  position: relative;
  display: flex;
  justify-content: center;
  height: 250px;
}
.home__images img {
  position: absolute;
}
@media screen and (min-width: 1152px) {
  .home__images {
    height: 450px;
  }
}

.home__points {
  width: 320px;
  top: -1rem;
}
@media screen and (min-width: 1152px) {
  .home__points {
    width: 100%;
    top: -2rem;
    right: -1rem;
  }
}

.home__rocket-box {
  width: 220px;
  position: relative;
}
@media screen and (min-width: 1152px) {
  .home__rocket-box {
    width: 450px;
  }
}

.home__js {
  position: absolute;
  top: 4.6rem;
  right: 3.9rem;
  color: hsl(50, 96%, 55%);
  z-index: 2;
}
@media screen and (min-width: 1152px) {
  .home__js {
    font-size: 2.5rem;
    top: 9rem;
    right: 7.9rem;
  }
}

.home__rocket {
  width: 220px;
  z-index: 1;
}
@media screen and (min-width: 1152px) {
  .home__rocket {
    width: 450px;
  }
}

.home__planet-1 {
  width: 110px;
  top: 1.25rem;
  left: -1rem;
}
@media screen and (min-width: 1152px) {
  .home__planet-1 {
    width: 210px;
    left: 5rem;
  }
}

.home__planet-2 {
  width: 70px;
  right: 0;
  top: -2.25rem;
}
@media screen and (min-width: 1152px) {
  .home__planet-2 {
    width: 130px;
    right: -2rem;
  }
}

.home__cloud-1,
.home__cloud-2 {
  position: absolute;
  bottom: 0;
  max-width: initial;
  z-index: 0;
}
@media screen and (min-width: 1152px) {
  .home__cloud-1,
  .home__cloud-2 {
    bottom: -3rem;
  }
}

.home__cloud-2 {
  width: 500px;
  right: -4rem;
}
@media screen and (min-width: 576px) {
  .home__cloud-2 {
    width: 80%;
  }
}

.home__cloud-1 {
  width: 700px;
  right: -6rem;
}
@media screen and (min-width: 576px) {
  .home__cloud-1 {
    width: 100%;
    left: -4px;
  }
}

.quiz {
  position: relative;
  height: 80%;
}
@media screen and (min-width: 768px) {
  .quiz {
    display: grid;
    place-content: center;
  }
}

.quiz__container {
  position: fixed;
  padding: 2rem 2rem calc(2rem + 70px);
  top: 40%;
  left: 40%;
  transform: translate(-40%, -40%);
  background-color: hsla(338, 73%, 97%, 0.755);
  border-radius: 8px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 300px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .quiz__container {
    width: 600px;
    max-width: 95vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.title {
  font-size: 1.5rem;
  padding: 1rem 0;
  text-align: center;
  margin: 0;
  color: hsl(268, 58%, 48%);
}

.summary {
  text-align: center;
  margin: 0.5rem 0 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: hsl(252, 94%, 75%);
}

.result {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: hsl(335, 88%, 56%);
}

.quiz-list {
  list-style-type: none;
  padding: 0;
}

.quiz-list li {
  font-size: 1.2rem;
}

.quiz-list label {
  cursor: pointer;
  width: 100%;
  display: block;
  padding: 1rem 0.5rem;
  color: hsl(268, 28%, 38%);
}

.quiz-list label:hover {
  background-color: seashell;
}

.quiz-list label.correct {
  color: rgb(36, 144, 77);
  font-weight: bold;
}

.quiz-list label.disabled {
  cursor: no-drop;
}

.quiz-list label.disabled:hover {
  cursor: no-drop;
  background-color: transparent;
}

.quiz-list label.wrong {
  color: rgb(218, 59, 59);
  font-weight: bold;
}

.quiz-list input[type=radio] {
  margin-right: 10px;
}

.quiz-submit {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;
  line-height: 70px;
}

.submit {
  background-color: #8e44ad;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
}

.submit:hover {
  background-color: #732d91;
}

.submit:focus {
  outline: none;
  background-color: #5e3370;
}

.submit.next {
  background-color: #000000;
}

.submit.next:hover {
  background-color: #222222;
}

.submit.next:focus {
  outline: none;
  background-color: #444444;
}

.quiz-list.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  color: #94ca00;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.list li {
  list-style: circle;
}

.qa__title {
  font-size: 24px;
  color: hsl(268, 58%, 48%);
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .qa__title {
    font-size: 32px;
  }
}

.qa {
  height: 100vh;
  position: relative;
  background-color: rgba(255, 255, 255, 0.699);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5rem;
  border-radius: 1rem;
  margin-top: 8rem;
  z-index: 5;
  overflow-y: auto;
}
@media screen and (min-width: 768px) {
  .qa {
    display: grid;
    place-content: center;
    margin-top: 10rem;
    margin-bottom: 2rem;
  }
}
.qa::-webkit-scrollbar {
  width: 1em;
  height: auto;
  border-top-right-radius: 4rem;
}
.qa::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.qa::-webkit-scrollbar-thumb {
  background-color: hsl(268, 58%, 48%);
  outline: 1px solid rgb(133, 112, 144);
  border-top-right-radius: 6rem;
  border-bottom-right-radius: 6rem;
}
.qa::-webkit-scrollbar-thumb:hover {
  background-color: hsl(268, 28%, 38%);
  outline: 1px solid rgb(130, 112, 144);
}

.qa__violet {
  color: hsl(252, 94%, 75%);
}

.list-header {
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  background-color: hsl(252, 94%, 75%);
  border-radius: 1rem;
  padding: 1rem;
  font-size: 12px;
}
.list-header:hover {
  color: hsl(50, 96%, 55%);
}
.list-header:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .list-header {
    font-size: 24px;
  }
}

.list-content {
  background-color: rgba(204, 192, 250, 0.76);
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .list-content {
    padding: 2rem;
    max-width: 680px;
  }
}

.list-group__item-title {
  font-size: 14px;
  color: rgb(244, 244, 192);
}
@media screen and (min-width: 768px) {
  .list-group__item-title {
    font-size: 20px;
  }
}

.list-group__item-text {
  font-size: 12px;
  color: hsl(0, 0%, 100%);
  padding-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .list-group__item-text {
    font-size: 18px;
  }
}

.content-hidden {
  display: none;
}

.hidden {
  display: none;
}

[data-name] {
  cursor: pointer;
}

.qa__table {
  padding: 5px;
}

.qa__th, .qa__td {
  border: 2px solid hsl(268, 58%, 48%);
  padding: 5px;
  color: hsl(268, 58%, 48%);
  background-color: rgba(255, 255, 255, 0.751);
}/*# sourceMappingURL=main.css.map */