.list li {
	list-style:circle;
}

// .qa__scroll{
//     overflow-y: auto;

//     &::-webkit-scrollbar {
//         width: 1em;
//         height: auto;
//         border-top-right-radius: 4rem;
//       }
       
//     &::-webkit-scrollbar-track {
//         box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//       }
       
//     &::-webkit-scrollbar-thumb {
//         background-color: $first-color;
//         outline: 1px solid rgb(133, 112, 144);
//         border-top-right-radius: 6rem;
//         border-bottom-right-radius: 6rem;

//       }

//       &::-webkit-scrollbar-thumb:hover {
//         background-color: $first-color-alt;
//         outline: 1px solid rgb(130, 112, 144);
//       }
// }

.qa__title{ 
    font-size: 24px;
    color: $first-color;
    font-weight: $font-bold;
    margin-bottom: 20px;
    margin-top: 10px;

    @media screen and (min-width: 768px){
        font-size: 32px;
    }
}


.qa{
    height: 100vh;
    position: relative;
    background-color: rgba(255, 255, 255, 0.699);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 2.5rem;
    border-radius: 1rem;
    margin-top: 8rem;
    z-index: 5;
    overflow-y: auto;

    @media screen and (min-width: 768px){
        display: grid;
        place-content: center;
        margin-top: 10rem;
        margin-bottom: 2rem;
    }

    &::-webkit-scrollbar {
        width: 1em;
        height: auto;
        border-top-right-radius: 4rem;
      }
       
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
       
    &::-webkit-scrollbar-thumb {
        background-color: $first-color;
        outline: 1px solid rgb(133, 112, 144);
        border-top-right-radius: 6rem;
        border-bottom-right-radius: 6rem;

      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: $first-color-alt;
        outline: 1px solid rgb(130, 112, 144);
      }
}



.qa__violet{
    color: $text-color-alt;
}

.list-header {
    font-weight: 700;
    color: $title-color;
    background-color: $text-color-alt;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 12px;

    &:hover{
        color: $text-color;
    }

    &:not(:last-child){
        margin-bottom: 10px;
    }

    @media screen and (min-width: 768px){
        font-size: 24px;
    }
}

.list-content {
    background-color: rgba(204, 192, 250, 0.76);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;

    @media screen and (min-width: 768px){
        padding: 2rem;
        max-width: 680px;
    }
}

.list-group__item-title{
    font-size: 14px;
    color: rgb(244, 244, 192);

    @media screen and (min-width: 768px){
        font-size: 20px;
    }
}

.list-group__item-text{
    font-size: 12px;
    color: $title-color;
    padding-bottom: 12px;

    @media screen and (min-width: 768px){
        font-size: 18px;
    }
}

.content-hidden {
    display: none;
}

.hidden {
    display: none;
}

[data-name] {
    cursor: pointer;
}


.qa__table{
    // border: 1px solid $first-color;
    padding: 5px;
}

.qa__th,.qa__td{
    border: 2px solid $first-color;
    padding: 5px;
    color: $first-color;
    background-color: rgba(255, 255, 255, 0.751);
}